@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h1 class="display-3">Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-7 mx-auto">           
            <p class="display-4 text-justify" style="font-size: 1.4rem;">
                Welcome to Calendar site, here you can plan and manage your personal or family events.
                Registered users can create and manage users' groups. By setting type of events to public, private or age restricted,
                you can create personal notes, share event with your friends, adult or kids only messages.
                After event is set, phone message would be send either to one user or to all active group members.
                Additionally you can set phone reminders for upcoming events, which will be sent automatically.
                Enjoy using my family calendar!
            </p>
        </div>
    </div>
</div>

